h1{
    text-align: center;
    color: red;
}

nav.navbar{
    background-color: lightgray;
    width: 200px;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
}


.active{
    background-color: rgb(66, 66, 66);
    color: white;
}