h1{
    text-align: center;
    color: red;
}

.ordered-list{
    list-style-type: lower-roman;
}

.unordered-list{
    list-style-type: circle;
}

.emoji-list{
    list-style-type: "🫶 ";
}

.custom-image-list{
    list-style-image: url("../../assets/img/eye.png");
    list-style-position: inside;
}

.inside{
    list-style-position: inside;
}

.outside{
    list-style-position: outside;
}