h1{
    text-align: center;
    color: red;
}

.container{
    height: 85vh;
    background-color: #333;
    display: flex;
    gap: 5px;

}

.box:nth-child(1){
    background-color: red;
    text-align: center;
    flex: 5;
}

.box:nth-child(2){
    background-color: lawngreen;
    text-align: center;
    flex: 0;
}

.box:nth-child(3){
    background-color: blue;
    text-align: center;
    flex: 0;
}

.box:nth-child(4){
    background-color: yellow;
    text-align: center;
    flex: 2;
}