h1 {
  text-align: center;
  color: red;
}

.container {
  height: 85vh;
  background-color: #333;
  display: flex;
  gap: 5px;

  /* DEFAULT => flex-wrap: nowrap; */
  /* flex-wrap: wrap-reverse; */
  flex-wrap: wrap;
  align-content: center;
}

.box:nth-child(1) {
  background-color: red;
  text-align: center;
  height: 150px;
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  /* flex-basis: 300px; */
  flex: 0 1 600px;
}

.box:nth-child(2) {
  background-color: lawngreen;
  text-align: center;
  height: 150px;
  flex: 0 1 300px;
}

.box:nth-child(3) {
  background-color: blue;
  text-align: center;
  height: 150px;
  flex: 0 1 300px;
}

.box:nth-child(4) {
  background-color: yellow;
  text-align: center;
  height: 150px;
  flex: 0 1 150px;
}