@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto" sans-serif;
}

.navbar{
    background-color: gray;
    width: 250px;
    line-height: 2.5rem;
    list-style-position: inside;
    list-style-type: "💠 ";
}

li{
    padding-left: 10px;
}

nav li a{
    padding: 10px 50px;
    text-decoration: none;
    font-weight: 400;
    color: black;
}

nav li a:hover{
    color: crimson;
    background-color: #333;
}